﻿<div ng-controller="collectorCtrl" ng-init="load()">
    <div class="col-lg-12">
        <h3 ng-bind="'List of Applications (' + applications.length + ')'"></h3>
        <table class="table table-bordered">
            <tr>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>APPLICATION URL</th>
                <th>FILE PATH</th>
                <th>DELETE</th>
            </tr>
            <tr ng-repeat="application in applications | filter: searchText">
                <td ng-bind="application.Name">
                </td>
                <td ng-bind="application.Description">
                </td>
                <td>
                    <a ng-bind="application.Url" ng-click="populate(application)"></a>
                </td>
                <td ng-bind="application.Path">
                </td>
                <td>
                    <a><span class="glyphicon glyphicon-trash" ng-click="delete(application)"></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-12">
        <form ng-submit="save()" validate>
            <h3>Add Application</h3>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="name" placeholder="application name" required />
            </div>
            <div class="form-group">
                <textarea class="form-control" ng-model="description" placeholder="enter description" />
            </div>
            <div class="form-group">
                <input type="url" class="form-control" ng-model="url" placeholder="application url" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="path" placeholder="application path" required />
            </div>
            <div class="pull-right">
                <button type="reset" class="btn btn-default">Cancel</button>
                <input type="submit" class="btn btn-large btn-warning" ng-click="app.check()" value="{{buttonValue}}"/>
            </div>
        </form>
    </div>
</div>

