
/* bootstrap overided styles */
.input-group {margin-top:10px;}
.navbar-inverse {background: #4a4058!important;color:#000!important;}
    .navbar-inverse a {color:#fff!important;}

/* other styles */
.text-small{font-size:0.8em;color:orange;}
.margin-header-top{margin-top: 60px;}
.btn-warning {background: #4a4058!important;border-color: #4a4058!important;}

