﻿<div class="page" ng-controller="DefaultLayoutCtrl">
    <!-- header container -->
    <header>
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                <div class="col-lg-9">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Gallery <span class="text-small">app collector</span></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search application" ng-model="searchText">
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </header>
    <!-- inner layout container -->
    <section class="main" style="min-height: 480px;">
        <div class="container margin-header-top">
            <module path="page.sections.mainContent" />
        </div>
    </section>
    <!-- footer container -->
   <!-- <footer>
        <p class="copyright">
            <em>Copyright &copy; 2013 MEDSEEK, Inc.</em>
        </p>
    </footer>-->
</div>
